{% extends 'base.html' %}
{% block title %}¡Bienvenidos!{% endblock %}
{% block content %}
    <h1>¡¡Bienvenido a Django Templates Project!!</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam corrupti repellendus nemo? Voluptatem animi quo ipsa esse reiciendis dignissimos saepe suscipit rerum aut cupiditate corrupti dolor dolorum odio, placeat blanditiis!
        Ad delectus ex aliquam cupiditate optio ratione hic voluptatem nemo aut, aliquid laborum soluta rem id repellendus et rerum numquam neque expedita autem esse at impedit, exercitationem voluptate fuga. Consequatur.
        Nihil facilis voluptates assumenda illo ipsa nam, corporis laudantium odio expedita officiis quia totam perferendis iusto voluptatem eligendi asperiores voluptatum ab labore fugiat quaerat aliquid nesciunt! Recusandae eaque nam voluptate.
        Aut excepturi nostrum soluta ea? Labore ratione explicabo iusto recusandae quidem quaerat iure esse nobis sequi fuga! Illum dolores ullam suscipit maxime a ad, velit quos? Asperiores, in? Vitae, molestiae?
        Esse nam iusto consequatur itaque adipisci, hic accusamus perferendis laboriosam doloremque commodi maiores, distinctio placeat, modi rem nulla laborum. Modi excepturi voluptate nisi cupiditate in sit ex explicabo reprehenderit? Assumenda.
        Adipisci accusantium veniam aliquid, totam eos rerum ad, provident cum maxime labore dolor debitis tempora officiis praesentium dolore voluptatem qui voluptate aliquam vel laudantium! Qui ut repudiandae molestias ratione officia.
        Hic atque tempora dolore illum sapiente fugit impedit dolorem, assumenda quod magni, inventore itaque amet minima, debitis deserunt neque odio quas deleniti consectetur quasi autem rerum dignissimos? Quos, neque similique!
        Nostrum saepe placeat maiores, officia tempora repellat laborum optio. Tempora earum nobis inventore rerum porro accusantium est facere, excepturi possimus aliquid aut voluptatibus officia molestias expedita dolorum blanditiis recusandae ipsa?
        Laborum laboriosam eius nihil, voluptatibus recusandae hic possimus dolorum nisi harum amet? Quaerat nisi eius excepturi incidunt similique, doloribus vero at earum dicta nam quidem, quasi neque laudantium vel necessitatibus!
        Laborum, sit. Aliquid ratione velit id nobis at, qui porro! Sit excepturi deserunt iure ut ex nesciunt fugiat pariatur ab optio quia! Nulla perspiciatis impedit nam? Eaque officia quibusdam dolorem?
    </p>
{% endblock %}