<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django TEMPLATES Project{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- header>nav>ul>li>a -->
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'inicio:index' %}">Inicio</a></li>
                <li><a href="{% url 'app1:v1' %}">App1 - V1</a></li>
                <li><a href="{% url 'app1:v2' %}">App1 - V2</a></li>
                <li><a href="{% url 'app2:v1' %}">App2 V1</a></li>
                <li><a href="{% url 'app2:v2' %}">App2 V2</a></li>
                <li><a href="{% url 'perfil:p1' %}">Perfil 1</a></li>
                <li><a href="{% url 'perfil:p2' %}">Perfil 2</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>&copy; Django Project Templates 2026</p>
    </footer>
</body>

</html>



https://github.com/larriag13/django_templates_n4p2c1.git